/* public/stylesheets/show.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #9ac2ef;
}

.show-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* 
.show-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
} */

.show-header>h1 {
    color: #1c2e5b;
    font-size: 3.4em;
    margin-left: 10px;
}

.show-actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 30px;
}

button {
    padding: 8px 10px;
    background-color: #4b598e;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 1.1em;
    width: 10em;
    margin: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: #1c2e5b;
    cursor: pointer;
}

.show-actions>a {
    background-color: #4b598e;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    padding: 8px 10px;
    border-radius: 30px;
    width: 10em;
    text-align: center;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}

.show-actions>a:hover {
    background-color: #1c2e5b;
}

p {
    color: #ce4866;
    font-weight: bold;
    font-size: 1.4em;
    margin: 10px 30px;
    text-align: center;
}

.show-jobdesc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

.show-jobdesc {
    background-color: #f6e7e7;
    width: 100dvw;
    /* Restrict the width for better centering */
    border-radius: 20px;
    padding: 40px;
    margin: 0 auto;
    text-align: left;
    /* Ensure the text inside is aligned left */
}


.show-jobdesc-container>a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1.4em;
    margin: 20px;
}

.show-jobdesc-container>a:hover {
    color: #4b598e;
}

h2 {
    margin: 0 10px;
    color: #1c2e5b;
}

.show-jobdesc>p {
    font-weight: normal;
    color: #1c2e5b;
    text-align: left;
    font-size: 1.2em;
}


.show-job-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.show-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
}

.delete-job-button {
    background-color: #ce4866;
}

.edit-job-link:hover {
    background-color: #374475;
}

.delete-job-button:hover {
    background-color: #e84a6c;
}

h2 {
    color: #4b598e;
}