<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Create a New Job Post</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

    <div class="new-job-container">
        <h1>Create Job Post</h1>

        <form action="/jobs" method="POST" class="new-job-form">
            <div class="form-row">
                <div class="form-column">
                    <label for="companyName">Company Name:</label>
                    <input type="text" name="companyName" id="companyName" required />

                    <label for="location">Location:</label>
                    <input type="text" name="location" id="location" required />

                    <label for="jobTitle">Job Title:</label>
                    <input type="text" name="jobTitle" id="jobTitle" required />
                </div>

                <div class="form-column">
                    <label for="jobDesc">Job Description:</label>
                    <textarea name="jobDesc" id="jobDesc" rows="5"></textarea>

                    <label for="status">Status:</label>
                    <select id="status" name="status">
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                    </select>
                </div>
            </div>

            <button type="submit">Create Job</button>
        </form>
    </div>
</body>

</html>
